
# Django related files
*.pyc
__pycache__/
*.pyo
*.db
*.sqlite3

# MYSQL Dump
dump.sql

# Local development settings
*.env
.envrc
.venv/
local-cdn/

# IDE settings
.vscode/
.idea/
*.code-workspace

# Other
*.log
*.swp
*.swo
.DS_Store

# Paperwork
**/paperwork/
# extras/tailwind/node_modules/
# **/node_modules/
