absl-py==1.4.0
accelerate==0.12.0
addict==2.4.0
aenum==3.1.11
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
apt-xapian-index==0.49
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Automat==20.2.0
awscli==1.22.34
basicsr==1.4.2
bcrypt==3.2.0
beautifulsoup4==4.12.0
blendmodes==2022
blinker==1.4
boltons==23.0.0
botocore==1.23.34
cachetools==5.3.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
clean-fid==0.1.29
click==8.0.3
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
cmake==3.25.0
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.7
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
deluge==2.0.3
deprecation==2.1.0
distro==1.7.0
distro-info===1.1build1
docutils==0.17.1
einops==0.4.1
entrypoints==0.4
exceptiongroup==1.1.1
expecttest==0.1.4
facexlib==0.2.5
fastapi==0.94.0
ffmpy==0.3.0
filelock==3.10.6
filterpy==1.4.5
flatbuffers==23.3.3
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.1
fuse-python==1.0.2
future==0.18.3
gdown==4.7.1
GeoIP==1.3.2
gfpgan==1.3.8
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.16.3
google-auth-oauthlib==0.4.6
gpg===1.16.0-unknown
gradio==3.23.0
grpcio==1.51.3
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httplib2==0.20.2
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
hyperlink==21.0.0
hypothesis==6.70.0
idna==2.10
imageio==2.27.0
importlib-metadata==4.6.4
incremental==21.3.0
inflection==0.5.1
invisible-watermark==0.1.5
jeepney==0.7.1
Jinja2==3.1.2
jmespath==0.10.0
jsonmerge==1.8.0
jsonschema==4.17.3
keyring==23.5.0
kiwisolver==1.4.4
kornia==0.6.7
language-selector==0.1
lark==1.1.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.2
libevdev==0.11
libtorrent===2.0.5-build-libtorrent-rasterbar-qrM5vM-libtorrent-rasterbar-2.0.5-bindings-python
lightning-utilities==0.8.0
linkify-it-py==2.0.0
lit==15.0.7
llvmlite==0.39.1
lmdb==1.4.0
lpips==0.1.4
lxml==4.8.0
Mako==1.1.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
netifaces==0.11.0
networkx==3.0
numba==0.56.4
numpy==1.23.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
omegaconf==2.2.3
onnx==1.13.1
onnxruntime==1.14.1
open-clip-torch==2.16.0
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
orjson==3.8.8
packaging==23.0
pandas==1.5.3
pexpect==4.8.0
piexif==1.1.3
Pillow==9.4.0
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycups==2.0.1
pydantic==1.10.7
pyDeprecate==0.3.2
pydub==0.25.1
pygame==2.1.2
Pygments==2.14.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pylibacl==0.6.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyre-extensions==0.0.23
pyrsistent==0.19.3
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-multipart==0.0.6
pytorch-lightning==1.9.4
pytorch-triton-rocm==2.0.1
pytz==2023.2
PyWavelets==1.4.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
realesrgan==0.3.0
regex==2023.3.23
rencode==1.0.6
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
resize-right==0.0.2
rfc3986==1.5.0
rich==13.3.2
roman==3.3
rsa==4.9
s3transfer==0.5.0
safetensors==0.3.0
scikit-image==0.19.2
scipy==1.10.1
scour==0.38.2
SecretStorage==3.3.1
semantic-version==2.10.0
sentencepiece==0.1.97
service-identity==18.1.0
setproctitle==1.2.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
ssh-import-id==5.11
starlette==0.26.1
sympy==1.11.1
systemd-python==234
tb-nightly==2.13.0a20230317
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminator==2.1.1
tifffile==2023.3.21
timm==0.6.7
tokenizers==0.13.2
toolz==0.12.0
torch==2.0.0+rocm5.4.2
torchaudio==2.0.1+rocm5.4.2
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.15.1+rocm5.4.2
tornado==6.1
tqdm==4.65.0
trampoline==0.1.2
transformers==4.25.1
triton==2.0.0
Twisted==22.1.0
types-dataclasses==0.6.6
typing-inspect==0.8.0
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.15
usb-creator==0.3.7
uvicorn==0.21.1
wadllib==1.3.6
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.3
xdg==5
xformers==0.0.16rc425
xkit==0.0.0
yapf==0.32.0
yarl==1.8.2
zipp==1.0.0
zope.interface==5.4.0
