{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}{% translate "company_page_title" %}{% endblock %}


{% block navbar %}{% include 'base/element/navbar_components.html' %}{% endblock %}

{% block content %}
{% translate 'company_details' as translated_title %}
{% module_title_component translated_title %}

<section id="Company" class="mx-12 md:mx-10">
    <article class="flex flex-col md:flex-row md:space-x-10 mt-24">
        <div class="p-1">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_name" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.name }}</p>
        </div>
        <div class="p-1">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_fantasy_name" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.fantasy_name }}</p>
        </div>
        <div class="p-1">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_cuit" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.cuit }}</p>
        </div>
    </article>
    <article class="flex flex-col pt-4 pb-2">
        <h3 class="font-semibold text-white font-Roboto text-sm bg-pantone7689c rounded-full px-4">
            Choferes
        </h3>
        <div class="flex flex-wrap justify-start -px-2">
            {% for driver in drivers %}
            <div class="h-full w-fit sm:w-72 m-3 flex text-center border-2 border-pantone7689c p-4 rounded-lg bg-sky-200 shadow-md">
                <form method="post" class="flex flex-col w-full space-y-2">
                    <!-- UPDATE FORM -->
                    <input type="hidden" name="form_type" value="update_driver">

                    {% csrf_token %}
                    {% input_field_component name="first_name" label="First Name" value=driver.first_name %}
                    {% input_field_component name="last_name" label="Last Name" value=driver.last_name %}
                    {% input_field_component name="identification_type" label="ID Type" value=driver.identification_type %}
                    {% input_field_component name="identification_number" label="ID Number" value=driver.identification_number %}

                    <div class="flex justify-between items-center">
                        {% checkbox_component name="is_active" label="is active?" checked=driver.is_active %}
                        <input type="hidden" name="driver_id" value="{{ driver.id }}">
                        {% rbutton_component caption="update" %}
                    </div>
                </form>
                <!-- DELETE FORM -->
            </div>
            {% endfor %}
            <div class="h-full w-fit sm:w-72 m-4 flex text-center border-2 border-pantone7689c p-4 rounded-lg bg-sky-200 shadow-md mb-10">
                <form method="post" class="flex flex-col w-full space-y-2">
                    <!-- ADD FORM -->
                    <input type="hidden" name="form_type" value="create_driver">

                    {% csrf_token %}
                    {% input_field_component name="first_name" label="First Name" %}
                    {% input_field_component name="last_name" label="Last Name" %}
                    {% input_field_component name="identification_type" label="ID Type" value="DNI" %}
                    {% input_field_component name="identification_number" label="ID Number" %}

                    <div class="flex justify-end items-center">
                        {% rbutton_component caption="add driver" bg="bg-pantone7472c"%}
                    </div>
                </form>
            </div>
        </div>

    </article>

</section>
{% endblock %}