{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}{% translate "company_page_title" %}{% endblock %}


{% block navbar %}{% include 'base/element/navbar_components.html' %}{% endblock %}

{% block content %}
{% module_title_component 'company_details' %}
<section id="Company" class="mt-24 mx-12 md:mx-10">
    <article class="flex flex-col">
        <div class="p-2">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_name" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.name }}</p>
        </div>
        <div class="p-2">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_fantasy_name" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.fantasy_name }}</p>
        </div>
        <div class="p-2">
            <h3 class="font-semibold text-sky-900 font-Roboto text-sm">
                {% translate "company_cuit" %}
            </h3>
            <p class="from-sky-950 font-mono text-sm text-sky-950">{{ company.cuit }}</p>
        </div>
    </article>
    <article>
    </article>
</section>

{% endblock %}