{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}{% translate "company_page_title" %}{% endblock %}


{% block navbar %}{% include 'base/navbar_components.html' with icon='fuel' %}{% endblock %}

{% block content %}
{% translate 'fuel_orders' as translated_title %}
{% module_title_component translated_title %}

<section id="header" class="mt-20 w-full flex flex-col">
    <!-- Legend and buttons -->

    <article id="orders" class="mx-2 md:mx-10 pt-4 overflow-y-auto">
        <!-- Orders List -->
        {% for order in fuel_orders %}
        {% fuel_order_row_component order %}
        {% endfor %}
    </article>

    <legend class="fixed bottom-0 w-fit ml-1 mb-8 flex flex-col grow-0 p-1 items-center bg-sky-900 rounded-xl shadow-lg drop-shadow-lg">
        <div class="font-quicksand font-bold text-xxs text-center text-sky-100">
            {% translate 'Legend' %}
        </div>
        <div class="flex p-1 justify-end space-x-1 rounded-lg">
            <div class="w-6 aspect-1 bg-sky-100 rounded">{% fueltank_component fuel="infinia_diesel" %}</div>
            <div class="w-6 aspect-1 bg-sky-100 rounded">{% fueltank_component fuel="diesel_500" %}</div>
            <div class="w-6 aspect-1 bg-sky-100 rounded">{% fueltank_component fuel="infinia" %}</div>
            <div class="w-6 aspect-1 bg-sky-100 rounded">{% fueltank_component fuel="super" %}</div>
        </div>
    </legend>

</section>
{% endblock %}



<div class="m-2 h-6 asepect-fibbo-up flex">
    <div class="bg-sky-900 w-full h-full rounded-lg px-2 py-1 font-rubik text-xxs text-white">{% translate 'new_order' %}
    </div>
</div>