{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}{% translate "vehicle_page_title" %}{% endblock %}

{% block navbar %}{% include 'base/element/navbar_components.html' %}{% endblock %}

{% block content %}
{% translate 'vehicle_title' as translated_title %}
{% module_title_component translated_title %}

<section id="Vehicles" class="mx-12 md:mx-10">

    <article class="flex flex-col pt-4 pb-2 mt-24">
        <p class="text-pantone7689c">Estos son los vehículos autorizados para realizar las operaciones de carga de combustible.</p>
        <p></p>
    </article>
    <article class="flex flex-col pt-4 pb-2">
        <h3 class="font-semibold text-white font-Roboto text-sm bg-pantone7689c rounded-full px-4">
            Tractors
        </h3>
        <div class="flex flex-wrap justify-start -px-2">
            {% for tractor in tractors %}
            <div class="h-full w-fit sm:w-72 m-3 flex text-center border-2 border-pantone7689c p-4 rounded-lg bg-sky-200 shadow-md">
                <form method="post" class="flex flex-col w-full space-y-2">
                    <!-- UPDATE FORM -->
                    <input type="hidden" name="form_type" value="update_tractor">

                    {% csrf_token %}
                    {% input_field_component name="domain" label="Domain" value=tractor.domain %}

                    <div class="flex justify-between items-center">
                        <input type="hidden" name="tractor_id" value="{{ tractor.id }}">
                        {% rbutton_component caption="update" %}
                    </div>
                </form>
            </div>
            {% endfor %}
            <div class="h-full w-fit sm:w-72 m-4 flex text-center border-2 border-pantone7689c p-4 rounded-lg bg-sky-200 shadow-md mb-10">
                <form method="post" class="flex flex-col w-full space-y-2">
                    <!-- ADD FORM -->
                    <input type="hidden" name="form_type" value="create_tractor">

                    {% csrf_token %}
                    {% input_field_component name="domain" label="Domain" %}

                    <div class="flex justify-end items-center">
                        {% rbutton_component caption="add tractor" bg="bg-pantone7472c"%}
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

{% endblock %}