{% load static %}

<div class="
            fixed
            {{ position }}
            {% if side == 'left' %}left-0{% else %}right-0{% endif %}
            {% if size == 'small' %}w-14 md:w-20 h-14{% else %}w-20 md:w-24 h-20{% endif %}
            bg-sky-900
            rounded-{% if side == 'left' %}r{% else %}l{% endif %}-full
            flex {% if side == 'left' %}justify-end{% else %}justify-start{% endif %}
            ">

    <!-- SHOWS CIRCULAR FLAGS AND CHANGE LANGUAGE ON CLICK -->
    <form id="language-form-{{ language_code }}" action="{% url 'set_language' %}" method="post" class="p-1 w-full h-full">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        {% if language_code == 'es' %}
        <input name="language" type="hidden" value="pt">
        {% elif language_code == 'pt' %}
        <input name="language" type="hidden" value="en">
        {% else %}
        <input name="language" type="hidden" value="es">
        {% endif %}
        <button type="submit" form="language-form-{{ language_code }}" class="aspect-square border-2 border-white h-full bg-no-repeat bg-cover rounded-full" style="background-image: url({% static 'svg/languages/'|add:language_code|add:'.svg' %});" aria-label="Change Language">
        </button>
    </form>
    
</div>