{% load static %}

<a class="flex" href="{% url url %}">
    <div class="
            fixed
            {{ position }}
            {% if side == 'left' %}left-0{% else %}right-0{% endif %}
            {% if position == 1 %}h-28{% else %}h-14{% endif %}
            {% if position == 1 %}w-28{% else %}w-14{% endif %}
            h-14
            w-14
            bg-sky-900 
            rounded-{% if side == 'left' %}r{% else %}l{% endif %}-full
            items-center
            justify-center
            ">

        <img class="p-1 w-full h-full rounded-full" src="{% static 'svg/'|add:icon|add:'.svg' %}" />
    </div>
</a>