{% load i18n %}
<div class="z-30
            fixed
            top-0
            left-0 right-0  
            flex
            items-center
            justify-center
            h-20
            bg-gradient-to-b from-sky-500 to-transparent
            ">

    <h1 class="
                mx-24
                font-extrabold
                font-quicksand 
                text-white
                text-2xl sm:text-4xl 
                text-center
                leading-none
                " style="text-shadow: 2px 2px 4px black;">
        {{ title }}
    </h1>
</div>