{% load static i18n %}

<!-- Orders List -->
<article class="flex flex-col pb-2">
    <div class="bg-pantone307c h-10 rounded-full flex flex-nowrap p-1">
        <div class="h-full aspect-fibbo-up rounded-l-full grid place-items-center">
            <!-- HEAD -->
            <span class="text-xxs font-Roboto text-white">on transit</span>
        </div>
        <div class="flex-grow flex flex-col">
            <!-- MIDDLE ONE -->
            <div class="h-full bg-white flex space-x-1 pl-1">
                <!-- UP -->
                <span class="bg-black text-white font-bold font-mono text-xxs px-1 flex flex-col leading-tight justify-end">XKL-345</span>
                <span class="bg-black text-white font-bold font-mono text-xxs px-1 flex flex-col leading-tight justify-end">XKL-345</span>
            </div>
            <div class="h-full bg-white flex space-x-1 pl-1 flex-nowrap">
                <!-- DW -->
                <span class="text-gray-800 max-w-fit font-mono text-xxs flex leading-0 flex-nowrap overflow-clip" style="white-space: nowrap;">Francisco Pérez</span>
            </div>
        </div>
        <div class="w-28 flex-grow-0 flex flex-col">
            <!-- MIDDLE TWO -->
            <div class="h-full space-x-1 ml-1 flex">
                <!-- UP -->
                <div class="w-1/3 h-full bg-white flex justify-between text-xxs"><img class="pt-0.5 h-4 aspect-fibbo-up" src="{% static 'svg/fuel_tractor.svg' %}" alt="" /></div>
                <div class="w-1/3 h-full bg-white flex justify-between text-xxs"><img class="pt-0.5 h-4 aspect-fibbo-up" src="{% static 'svg/fuel_backpack.svg' %}" alt="" /></div>
                <div class="w-1/3 h-full bg-white flex justify-between text-xxs"><img class="pt-0.5 h-4 aspect-fibbo-up" src="{% static 'svg/fuel_chamber.svg' %}" alt="" /></div>
            </div>
            <div class="h-full space-x-1 ml-1 flex">
                <!-- DW -->
                <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center text-sky-950">500</div>
                <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center text-green-500">MAX</div>
                <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center text-red-500">NO</div>
            </div>
        </div>
        <div class="h-full aspect-square flex ml-1">
            <div class="h-full aspect-square rounded-full">
                <img class="w-full h-full" src="{% static 'svg/sandwich.svg' %}" />
            </div>
        </div>
    </div>
</article>