{% load static i18n %}

<!-- Orders List -->
<article class="flex flex-col pt-2">
    <div class="
    {% if order.is_finished %}
    bg-pantone7472c
    {% elif order.is_canceled %}
    bg-gray-400
    {% elif order.is_blocked %}
    bg-pantone307c
    {% else  %}
    bg-pantone7689c
    {% endif %}
    h-10 rounded-full flex flex-nowrap p-1
    ">
        <!-- HEAD -->
        <div class="h-full aspect-fibbo-up rounded-l-full grid place-items-center">
            <span class="text-xxs font-Roboto text-white">
                {% if order.is_finished %}
                {% translate 'finished' %}
                {% elif order.is_canceled %}
                {% translate 'canceled' %}
                {% elif order.is_blocked %}
                {% translate 'refueling' %}
                {% else %}
                {% translate 'on_transit' %}
                {% endif %}
            </span>
        </div>
        <!-- MIDDLE-->
        <div class="w-full h-full flex">
            <div class="flex-grow flex flex-col">
                <!-- Plates -->
                <div class="min-w-max h-full bg-sky-100 flex space-x-1 pl-1">
                    <span class="bg-black text-white font-bold font-mono text-xxs px-1 mt-0.5 leading-0">{{ order.tractor_plate }}</span>
                    <span class="bg-black text-white font-bold font-mono text-xxs px-1 mt-0.5 leading-0 hidden sm:block">{{ order.trailer_plate }}</span>
                </div>
                <!-- Driver -->
                <div class="min-w-max h-full bg-sky-100 flex space-x-1 pl-1 flex-nowrap">
                    <span class="text-gray-800 font-mono text-xxs flex pt-[2px]" style="white-space: nowrap;">
                        <p class="block sm:hidden leading-none">{{ order.driver|truncatechars:12 }}</p>
                        <p class="hidden sm:block leading-none">{{ order.driver }}</p>
                    </span>
                </div>
            </div>
            <div class="flex-grow-0 w-">
                <!-- odo & km -->
                <div class="bg-sky-100 flex flex-col w-full h-full">
                    <span class="text-end font-mono text-xxs px-0.5 leading-0 {% if order.requires_odometer %} text-black {% else %} text-gray-400 {% endif %}">odo</span>
                    <span class="text-end font-mono text-xxs px-0.5 leading-0 {% if order.requires_kilometers %} text-black {% else %} text-gray-400 {% endif %}">km</span>
                </div>
            </div>
            <div class="w-32 flex-grow-0 flex-shrink-0 flex flex-col">
                <div class="h-full space-x-1 ml-1 flex">
                    <!-- fuel icons -->
                    <div class="w-1/3 h-full bg-white flex justify-between text-xxs pt-[1px]">
                        <img style="background-color:{{ order.tractor_fuel_type_color }};" class="h-5 aspect-fibbo-up" src="{% static 'svg/fuel_tractor.svg' %}" alt="" />
                    </div>
                    <div class="w-1/3 h-full bg-white flex justify-between text-xxs p-[1px]">
                        <img style="background-color:{{ order.backpack_fuel_type_color }};" class="h-5 aspect-fibbo-up" src="{% static 'svg/fuel_chamber.svg' %}" alt="" />
                    </div>
                    <div class="w-1/3 h-full bg-white flex justify-between text-xxs p-[1px]">
                        <img style="background-color:{{ order.chamber_fuel_type_color }};" class="h-5 aspect-fibbo-up" src="{% static 'svg/fuel_backpack.svg' %}" alt="" />
                    </div>
                </div>
                <div class="h-full space-x-1 ml-1 flex">
                    <!-- fuel values -->
                    <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center">
                        {% if order.tractor_liters_to_load == -1 %}
                        <span class="text-xxxs text-green-900">MAX</span>
                        {% elif order.tractor_liters_to_load == 0 %}
                        <span class="text-xxxs text-gray-300"></span>
                        {% else %}
                        <span class="text-xxxs">{{ order.tractor_liters_to_load }}</span>
                        {% endif %}
                    </div>
                    <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center">
                        {% if order.backpack_liters_to_load == -1 %}
                        <span class="text-xxxs text-green-900">MAX</span>
                        {% elif order.backpack_liters_to_load == 0 %}
                        <span class="text-xxxs text-gray-300"></span>
                        {% else %}
                        <span class="text-xxxs">{{ order.backpack_liters_to_load }}</span>
                        {% endif %}
                    </div>
                    <div class="w-1/3 h-full bg-white text-xxs leading-0 font-mono font-bold flex justify-center">
                        {% if order.chamber_liters_to_load == -1 %}
                        <span class="text-xxxs text-green-900">MAX</span>
                        {% elif order.chamber_liters_to_load == 0 %}
                        <span class="text-xxxs text-gray-300"></span>
                        {% else %}
                        <span class="text-xxxs">{{ order.chamber_liters_to_load }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Sandwitch -->
        <div id="accordion-flush" data-accordion="collapse"
            data-active-classes="bg-sky-100{% if order.is_finished %}bg-pantone7472c{% elif order.is_canceled %}bg-gray-400{% elif order.is_blocked %}bg-pantone307c{% else  %}bg-pantone7689c{% endif %}">
            <button class="h-full aspect-1 flex ml-1 rounded-full" data-accordion-target="#row-toggle-body-{{ order.id }}" aria-expanded="false">
                <div class="h-full aspect-1 rounded-full">
                    <img class="w-full h-full" src="{% static 'svg/sandwich.svg' %}" />
                </div>
            </button>
        </div>
    </div>

    <!-- Actions -->
    <menu id="row-toggle-body-{{ order.id }}" ariai-labelledby="row-toggle-heading-{{ order.id }}" class="hidden">
        <div class="rounded-b-2xl flex flex-nowrap p-1 ml-14 mr-5">
            <div class="w-full h-full flex justify-end">

                <button
                    class="flex items-center justify-center px-2 py-1 rounded-l-2xl font-rubik font-bold text-red-300 text-sm {% if order.is_finished %}bg-pantone7472c{% elif order.is_canceled %}bg-gray-400{% elif order.is_blocked %}bg-pantone307c{% else  %}bg-pantone7689c{% endif %}">
                    <div class="h-4 aspect-1 mr-1 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {% translate 'cancel' %}
                </button>

                <button
                    class="flex items-center justify-center px-2 py-1 font-rubik font-bold text-sm text-white {% if order.is_finished %}bg-pantone7472c{% elif order.is_canceled %}bg-gray-400{% elif order.is_blocked %}bg-pantone307c{% else  %}bg-pantone7689c{% endif %}">
                    <div class="h-4 aspect-1 mr-1 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {% translate 'schedule' %}
                </button>

                <!-- View button -->
                <button data-modal-target="row-view-{{ order.id }}" data-modal-toggle="row-view-{{ order.id }}"
                    class="flex items-center justify-center px-2 py-1 rounded-r-2xl font-rubik font-bold text-sm text-white {% if order.is_finished %}bg-pantone7472c{% elif order.is_canceled %}bg-gray-400{% elif order.is_blocked %}bg-pantone307c{% else  %}bg-pantone7689c{% endif %}">
                    <div class="h-4 aspect-1 mr-1 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </div>
                    {% translate 'view' %}
                </button>
            </div>
        </div>
    </menu>

    <!-- View Popup Modal-->
    <div id="row-view-{{ order.id }}" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal drop-shadow-2xl">
        <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-3">

                <!-- Modal header -->
                <div class="flex justify-between mb-4 rounded-t sm:mb-5">
                    <div class="text-xl font-semibold text-gray-900 dark:text-white flex items-center">
                        <h3>Fuel Order #{{ order.operation_code }}</h3>
                        <div class="text-sm mx-2">
                            {% if order.is_finished %}
                            <span class="text-green-500">Finished</span>
                            {% elif order.is_canceled %}
                            <span class="text-red-500">Canceled</span>
                            {% elif order.is_blocked %}
                            <span class="text-orange-500">Blocked</span>
                            {% endif %}
                        </div>
                    </div>
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-toggle="row-view-{{ order.id }}">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                <!-- Image Placeholder -->
                <div>
                    <div class="w-40 h-40 mx-auto rounded-md border-2 border-pantone307c">
                        <img src="{% url 'get_qr' operation_code=order.operation_code %}" alt="QR Code">
                    </div>
                </div>

                <!-- Modal content -->
                <div class="mt-6">
                    <dl class="space-y-4 overflow-y-auto max-h-52">
                        <!-- Order Information -->
                        <div>
                            <dt class="text-md font-semibold text-sky-900 dark:text-gray-900">Order Information</dt>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Creation date:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.order_date }}</span>
                            </dd>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Last Modification:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.modified_date }}</span>
                            </dd>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Driver:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.driver }}</span>
                            </dd>
                        </div>

                        <!-- Vehicle Information -->
                        <div>
                            <dt class="text-md font-semibold text-sky-900 dark:text-gray-900">Vehicle Information</dt>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Tractor plate:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.tractor_plate }}</span>
                            </dd>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Trailer plate:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.trailer_plate }}</span>
                            </dd>
                        </div>

                        <!-- Fuel Order -->
                        <div>
                            <dt class="text-md font-semibold text-sky-900 dark:text-gray-900">Fuel Order</dt>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Tractor:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.tractor_liters }} liters of {{ order.tractor_fuel_type }}</span>
                            </dd>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Trailer:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.trailer_liters_to_load }} liters of {{ order.backpack_fuel_type }}</span>
                            </dd>
                            <dd>
                                <span class="text-sm font-semibold text-gray-700 dark:text-gray-400">Chamber:</span>
                                <span class="text-sm text-gray-900 dark:text-gray-900">{{ order.chamber_liters_to_load }} liters of {{ order.chamber_fuel_type }}</span>
                            </dd>
                        </div>

                    </dl>
                </div>
                <!-- end modal -->


            </div>
        </div>
    </div>

</article>