{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}
    {% translate "company_page_title" %}
{% endblock %}
{% block navbar %}
    {% include "base/navbar_components.html" with icon="fuel" %}
{% endblock %}
{% block content %}
    {% translate "fuel_orders" as translated_title %}
    {% module_title_component translated_title %}
    <section id="SingleFuelOrder" class="mx-6 md:mx-10">
        <article class="flex flex-col pt-4 pb-2 mt-24">
            <p class="text-pantone7689c text-justify">{% translate "fuel_order_instruction" %}</p>
        </article>
        {% if form.errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
        <form method="post"
              enctype="multipart/form-data"
              action="{% url 'order_new' %}">
            {% csrf_token %}
            <div class="tw-bigform">
                <div class="grid grid-cols-2 gap-1 sm:gap-2 justify-start w-fit">
                    <div class="col-span-2">
                        {{ form.driver.label }}
                        {{ form.driver }}
                    </div>
                    <div>
                        {{ form.tractor_plate.label }}
                        {{ form.tractor_plate }}
                    </div>
                    <div>
                        {{ form.trailer_plate.label }}
                        {{ form.trailer_plate }}
                    </div>
                    <div class="col-span-2 flex flex-col sm:flex-row sm:space-x-6 items-start ml-6 sm:ml-2">
                        <div class="flex space-x-2 items-center justify-center">
                            <div>{{ form.requires_odometer }}</div>
                            {{ form.requires_odometer.label }}
                        </div>
                        <div class="flex space-x-2 items-center justify-center">
                            <div>{{ form.requires_kilometers }}</div>
                            {{ form.requires_kilometers.label }}
                        </div>
                    </div>
                    <div class="col-span-2 mt-8">
                        <span class="font-rubik text-lg font-bold text-pantone7472c">{% translate "fuel_order" %}</span>
                    </div>
                    <div class="col-span-2 grid grid-cols-3 gap-x-1 gap-y-0.5">
                        <div class="tw-label justify-center flex">{% translate "tractor" %}</div>
                        <div class="tw-label justify-center flex">{% translate "backpack" %}</div>
                        <div class="tw-label justify-center flex">{% translate "chamber" %}</div>
                        <div>{{ form.tractor_fuel_type }}</div>
                        <div>{{ form.backpack_fuel_type }}</div>
                        <div>{{ form.chamber_fuel_type }}</div>
                        <div>{{ form.tractor_liters_to_load }}</div>
                        <div>{{ form.backpack_liters_to_load }}</div>
                        <div>{{ form.chamber_liters_to_load }}</div>
                    </div>
                </div>
                <menu class="w-full p-6 flex justify-center drop-shadow-lg">
                    <div class="col-span2 bg-pantone7472c p-0.5 rounded-l-full w-fit h-fit">
                        <div class="border-2 border-sky-200 p-0.5 rounded-l-full flex justify-center items-center">
                            <button class="flex whitespace-nowrap w-fit px-4 py-2 rounded-full bg-pantone7472c text-white font-rubik font-bold lowercase text-center"
                                    type="submit">{% translate "new" %} {% translate "order_new" %}</button>
                        </div>
                    </div>
                    <div class="col-span2 bg-pantone307c p-0.5 rounded-r-full w-fit h-fit">
                        <div class="border-2 border-sky-200 p-0.5 rounded-r-full flex justify-center items-center">
                            <a href="{% url 'orders' %}"
                               class="flex w-fit px-4 py-2 rounded-full bg-pantone307c text-white font-rubik font-bold lowercase text-center">
                                {% translate "btn_skip" %}
                            </a>
                        </div>
                    </div>
                </menu>
            </div>
        </form>
    </section>
{% endblock %}
