{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components compress %}
{% block title %}
  {% translate "fuel_orders" %}
{% endblock %}
{% block navbar %}
  {% include "base/navbar_components.html" with icon="fuel" %}
{% endblock %}
{% block content %}
  {% translate "fuel_orders" as translated_title %}
  {% module_title_component translated_title %}
  <div class="h-24 w-full">
    <!-- top margin -->
  </div>
  <section class="w-full flex flex-col">
    <!-- Orders List -->
    <article id="orders" class="mx-2 md:mx-10 pt-4 overflow-y-auto">
      {% for order in fuel_orders %}
        {% row_fuelorder_component order %}
      {% endfor %}
    </article>
    <div class="h-32">
      <!-- bottom margin -->
    </div>
  </section>
  {% legendary_buttons_component %}
  <!-- Modal Pause -->
  <div id="pause-modal"
       class="fixed pointer-events-none z-40 left-0 top-0 flex items-center justify-center w-full h-full opacity-0 invisible transition-opacity duration-300 bg-sky-200 bg-opacity-50">
    <div class="relative bg-white rounded-lg shadow-lg w-11/12 md:max-w-2xl m-6 pointer-events-auto">
      <div class="px-4 text-right">
        <button id="pause-modal-close" class="text-3xl font-semibold hover:text-gray-700">×</button>
      </div>
      <form id="pause-form" action="" method="post">
        {% csrf_token %}
        <div class="p-4">
          <p>{% translate "dlg_pause_confirm" %}</p>
        </div>
        <div class="p-4 flex space-x-3 justify-end">
          {% rbutton_component value="delete" bg="bg-red-500" caption="btn_delete" %}
          {% rbutton_component value="pause" caption="btn_pause" %}
          {% rbutton_component caption="btn_skip" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% compress js %}
    <script>
        $(document).ready(function() {
            // Cache DOM elements for performance
            const pauseModal = $('#pause-modal');
            const viewModal = $('#view-modal');
            const pauseCloseModal = $('#pause-modal-close');
            const viewCloseModal = $('#view-modal-close');
            const formPause = $('#pause-form');

            let orderId;

            // Function to close modals
            const closeModal = (modal) => modal.addClass('opacity-0 invisible pointer-events-none');

            // Function to manage order pause/unpause actions
            const pauseOrder = function() {
                orderId = $(this).data('order-id');

                $.ajax({
                    url: `/orders/${orderId}/data/`,
                    type: 'GET',
                    success: function(data) {
                        $('button[value="pause"]').find('p').text(data.is_paused ? '{% translate "btn_continue" %}' : '{% translate "btn_pause" %}');
                        formPause.attr('action', `/orders/${orderId}/pause/`);
                        pauseModal.toggleClass('opacity-0 invisible pointer-events-none');
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error occurred while retrieving order data:', errorThrown);
                    }
                });
            }

            // Function to submit pause form
            const submitPauseForm = function(e) {
                e.preventDefault();

                const data = {
                    'csrfmiddlewaretoken': $(this).find('input[name="csrfmiddlewaretoken"]').val(),
                    'action': $(this).find('button[type="submit"]:focus').val(),
                };

                $.ajax({
                    url: `/orders/${orderId}/pause/`,
                    type: 'POST',
                    data: data,
                    success: function(response) {
                        console.log('Response from server: ', response);
                        if (response.result == "success") {
                            closeModal(pauseModal);
                            location.reload();
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error occurred while trying to pause/delete order:', errorThrown);
                    }
                });
            }

            // Function to view order details
            const viewOrder = function() {
                orderId = $(this).data('order-id');

                $.ajax({
                    url: `/orders/${orderId}/data/`,
                    type: 'GET',
                    success: function(data) {
                        let statusTextElement = $('#order-status-text');
                        if (data.is_finished) {
                            statusTextElement.text('{% translate "finished" %}').removeClass('text-red-500 text-orange-500').addClass('text-green-500');
                        } else if (data.is_paused) {
                            statusTextElement.text('{% translate "paused" %}').removeClass('text-green-500 text-orange-500').addClass('text-red-500');
                        } else if (data.is_locked) {
                            statusTextElement.text('{% translate "blocked" %}').removeClass('text-green-500 text-red-500').addClass('text-orange-500');
                        } else {
                            statusTextElement.text('');
                        }
                        // Update QR code and operation code
                        $('#qr_image img').attr('src', "{% url 'get_qr' order_id=0 %}".replace('0', orderId));
                        $('#qr_image p').text(data.operation_code.toUpperCase());

                        // Update order details in the view modal
                        $('#order_date').text(data.order_date);
                        $('#modified_date').text(data.modified_date);
                        $('#driver').text(data.driver);
                        $('#tractor_plate').text(data.tractor_plate);
                        $('#trailer_plate').text(data.trailer_plate);
                        $('#formated_tractor_liters_to_load_of').text(
                            data.formated_tractor_liters_to_load_of == 0 ? 'NO' :
                            data.formated_tractor_liters_to_load_of == -1 ? 'MAX' :
                            (data.is_finished ? ' ' + data.tractor_liters + ' / ': '') + data.formated_tractor_liters_to_load_of 
                        );

                        $('#formated_backpack_liters_to_load_of').text(
                            data.formated_backpack_liters_to_load_of == 0 ? 'NO' :
                            data.formated_backpack_liters_to_load_of == -1 ? 'MAX' :
                            (data.is_finished ? ' ' + data.backpack_liters + ' / ': '') + data.formated_backpack_liters_to_load_of 
                        );

                        $('#formated_chamber_liters_to_load_of').text(
                            data.formated_chamber_liters_to_load_of == 0 ? 'NO' :
                            data.formated_chamber_liters_to_load_of == -1 ? 'MAX' :
                            (data.is_finished ? ' ' + data.chamber_liters + ' / ': '') + data.formated_chamber_liters_to_load_of 
                        );

                        viewModal.toggleClass('opacity-0 invisible pointer-events-none');

                        // Format the dates
                        const orderDate = new Date(data.order_date);
                        const modifiedDate = new Date(data.modified_date);
                        const options = {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric'
                        };

                        // Set the formatted dates in the modal
                        console.log("{{ LANGUAGE_CODE}}");
                        $('#order_date').text(orderDate.toLocaleDateString("{{ LANGUAGE_CODE }}", options));
                        $('#modified_date').text(modifiedDate.toLocaleDateString("{{ LANGUAGE_CODE }}", options));
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error occurred while retrieving order data:', errorThrown);
                    }
                });
            }

            // Attach event listeners
            $('[id^="pause-button-"]').click(pauseOrder);
            pauseCloseModal.click(() => closeModal(pauseModal));
            formPause.on('submit', submitPauseForm);
            $('[id^="view-button-"]').click(viewOrder);
            viewCloseModal.click(() => closeModal(viewModal));

            // Close modals on outside click
            $(window).click(function(event) {
                if (event.target == pauseModal[0]) {
                    closeModal(pauseModal);
                } else if (event.target == viewModal[0]) {
                    closeModal(viewModal);
                }
            });
        });
    </script>
  {% endcompress %}
{% endblock %}
