{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components compress %}
{% block title %}
  {% translate "fuel_orders" %}
{% endblock %}
{% block navbar %}
  <!-- TODO: icon should be a BACK icon -->
  {% include "base/navbar_components.html" with icon="fuel" url="orders" %}
{% endblock %}
{% block content %}
  {% translate "order" as translated_title %}
  {% module_title_component translated_title extras=operation_code.upper %}
  <div class="h-24 w-full">
    <!-- top margin -->
  </div>
  <section class="w-full flex flex-col">
    <!-- QR -->
    <div class="p-4 flex flex-col justify-center items-center mb-2">
      <div class="w-40 h-40 mx-auto rounded-md border-2 border-pantone307c bg-white drop-shadow-lg">
        <img class="p-0.5" src="{% url 'get_qr' operation_code %}" alt="QR Code" />
        <p class="text-2xl font-quicksand leading-tight font-bold text-center"></p>
      </div>
    </div>
    <!-- Body -->
    <div class="m-4 flex justify-center">
      <dl class="flex flex-col">
        <!-- Order Information -->
        <div>
          <dt class="order-field-t">{% translate "order_information" %}</dt>
          <dd>
            <span class="order-field">{% translate "creation_date" %}:</span>
            <span class="order-field-value">{{ order.order_date }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "created_by" %}:</span>
            <span class="order-field-value">{{ order.user_creator.first_name }}{{ order.user_creator.last_name }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "driver" %}:</span>
            <span class="order-field-value">{{ order.driver }}</span>
          </dd>
        </div>
        <!-- Vehicle Information -->
        <div>
          <dt class="order-field-t">{% translate "vehicle_information" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor_plate" %}:</span>
            <span class="order-field-value">{{ order.tractor_plate }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "trailer_plate" %}:</span>
            <span class="order-field-value">{{ order.trailer_plate|default:"-" }}</span>
          </dd>
        </div>
        <!-- Fuel Order -->
        <div>
          <dt class="order-field-t">{% translate "fuel_order" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor" %}:</span>
            <span class="order-field-value">{{ order.formated_tractor_liters_to_load_of }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "backpack" %}:</span>
            <span class="order-field-value">{{ order.formated_backpack_liters_to_load_of }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "chamber" %}:</span>
            <span class="order-field-value">{{ order.formated_chamber_liters_to_load_of }}</span>
          </dd>
        </div>
        <!-- Fuel Liters -->
        <div>
          <dt class="order-field-t">{% translate "fuel_order_fill" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor" %}:</span>
            <span class="order-field-value">{{ order.tractor_liters|default:"-" }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "backpack" %}:</span>
            <span class="order-field-value">{{ order.backpack_liters|default:"-" }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "chamber" %}:</span>
            <span class="order-field-value">{{ order.chamber_liters|default:"-" }}</span>
          </dd>
        </div>
        <!-- Picutres -->
        {% if refueling %}
          <div>
            <dt class="order-field-t">{% translate "pictures" %}</dt>
            <dd>
              <span class="order-field">{% translate "tractor" %}:</span>
              <div>
                <img src="{{ refueling.tractor_pic }}" alt="tractor_pic" />
              </div>
            </dd>
            <dd>
              <span class="order-field">{% translate "backpack" %}:</span>
              <div>
                <img src="{{ refueling.backack_pic }}" alt="backpack_pic" />
              </div>
            </dd>
            <dd>
              <span class="order-field">{% translate "chamber" %}:</span>
              <div>
                <img src="{{ refueling.chamber_pic }}" alt="chamber_pic" />
              </div>
            </dd>
          </div>
        {% endif %}
      </dl>
    </div>
  </section>
  <div class="h-24 w-full">
    <!-- top margin -->
  </div>
{% endblock %}
