{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components compress %}
{% block title %}
  {% translate "fuel_orders" %}
{% endblock title %}
{% block navbar %}
  <!-- TODO: icon should be a BACK icon -->
  {% include "base/navbar_components.html" with icon="fuel" url="orders" %}
{% endblock navbar %}
{% block content %}
  {% translate "order" as translated_title %}
  {% module_title_component translated_title extras=operation_code.upper %}
  <div class="h-24 w-full">
    <!-- top margin -->
  </div>
  <section class="w-full flex flex-col md:flex-row">
    <!-- QR -->
    <div class="p-2 flex flex-col mt-6 items-center">
      <div class="w-40 h-40  rounded-md border-2 border-pantone307c bg-white drop-shadow-lg">
        <img id="qr-image"
             class="p-0.5"
             src="{% url 'get_qr' operation_code %}"
             alt="QR Code" />
      </div>
      <menu class="flex flex-col mt-3">
        {% if not order.is_finished %}
          <!-- Copy QR Butto-->
          <button id="copy-button"
                  type="submit"
                  data-order-id="{{ id }}"
                  class="text-sm h-7 w-40 bg-sky-600 pl-1 rounded-full text-sky-50 font-bold uppercase my-1 flex justify-center items-center pb-0.5 shadow-lg hover:shadow-none hover:translate-y-0.5 hover:translate-x-0.5 hover:text-white drop-shadow-md border-2 border-white">
            {% include "svg/copy-icon.svg" %}
            {% translate "copy" %}
          </button>
          <div class="flex justify-between">
            <!-- Pause button -->
            <form action="{% url 'pause_order' order_id=order.id %}" method="post">
              {% csrf_token %}
              <button id="pause-button"
                      type="submit"
                      class="text-sm h-7 w-32 bg-sky-600 pl-1 rounded-l-full text-sky-50 font-bold uppercase my-1 flex justify-center items-center pb-0.5 shadow-lg hover:shadow-none hover:translate-y-0.5 hover:translate-x-0.5 hover:text-white drop-shadow-md border-2 border-white">
                {% if not order.is_paused %}
                  {% include "svg/pause-icon.svg" %}
                  {% translate "pause" %}
                {% else %}
                  {% include "svg/pause-icon.svg" %}
                  {% translate "unpause" %}
                {% endif %}
              </button>
            </form>
            <!-- Delete button -->
            <form action="{% url 'delete_order' order_id=order.id %}" method="post">
              {% csrf_token %}
              <button id="delete-button"
                      type="submit"
                      class="text-sm h-7 w-8 bg-red-500 pr-1 rounded-r-full text-white font-bold uppercase my-1 flex justify-center items-center pb-0.5 shadow-lg hover:shadow-none hover:translate-y-0.5 hover:translate-x-0.5 hover:text-white drop-shadow-md border-2 border-white">
                {% include "svg/delete-icon.svg" %}
              </button>
            </form>
          </div>
        {% else %}
          <!-- Aggreement Button-->
          {% if order.in_agreement == "under_negotiation" %}
            <form action="{% url 'agreement_order' order_id=order.id %}" method="post">
              {% csrf_token %}
              <button id="agreement-button"
                      type="submit"
                      class="text-sm h-7 w-40 bg-pantone7472c pr-1 rounded-full text-white font-bold uppercase my-1 flex justify-center items-center pb-0.5 shadow-lg hover:shadow-none hover:translate-y-0.5 hover:translate-x-0.5 hover:text-white drop-shadow-md border-2 border-white">
                {% include "svg/agreement-icon.svg" %}
                {% translate "in_agreement" %}
              </button>
            </form>
          {% else %}
            <p class="text-sm h-7 w-40 bg-pantone7472c pr-1 rounded-full text-white font-bold uppercase my-1 flex justify-center items-center pb-0.5">{% translate "in_agreement_done" %}</p>
          {% endif %}
        {% endif %}
      </menu>
    </div>
    <!-- Body -->
    <div class="m-4 flex justify-center">
      <dl class="flex flex-col">
        <!-- Order Information -->
        <div>
          <dt class="order-field-t">{% translate "order_information" %}</dt>
          <dd>
            <span class="order-field">{% translate "creation_date" %}:</span>
            <span class="order-field-value">{{ order.order_date }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "created_by" %}:</span>
            <span class="order-field-value">{{ order.user_creator.first_name }}{{ order.user_creator.last_name }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "driver" %}:</span>
            <span class="order-field-value">{{ order.driver }}</span>
          </dd>
        </div>
        <!-- Vehicle Information -->
        <div>
          <dt class="order-field-t">{% translate "vehicle_information" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor_plate" %}:</span>
            <span class="order-field-value">{{ order.tractor_plate }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "trailer_plate" %}:</span>
            <span class="order-field-value">{{ order.trailer_plate|default:"-" }}</span>
          </dd>
        </div>
        <!-- Fuel Order -->
        <div>
          <dt class="order-field-t">{% translate "fuel_order" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor" %}:</span>
            <span class="order-field-value">{{ order.formated_tractor_liters_to_load_of }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "backpack" %}:</span>
            <span class="order-field-value">{{ order.formated_backpack_liters_to_load_of }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "chamber" %}:</span>
            <span class="order-field-value">{{ order.formated_chamber_liters_to_load_of }}</span>
          </dd>
        </div>
        <!-- Fuel Liters -->
        <div>
          <dt class="order-field-t">{% translate "fuel_order_fill" %}</dt>
          <dd>
            <span class="order-field">{% translate "tractor" %}:</span>
            <span class="order-field-value">{{ order.tractor_liters|default:"-" }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "backpack" %}:</span>
            <span class="order-field-value">{{ order.backpack_liters|default:"-" }}</span>
          </dd>
          <dd>
            <span class="order-field">{% translate "chamber" %}:</span>
            <span class="order-field-value">{{ order.chamber_liters|default:"-" }}</span>
          </dd>
        </div>
        {% if refueling %}
          <!-- Pictures -->
          <div class="order-field-t">{% translate "pictures" %}</div>
          <div id="image-container">
            {% for document in documents %}
              <img class="toggle-size w-32 h-32 p-2 m-2 rounded-lg border-2 border-white drop-shadow-lg bg-sky-100 transition-all"
                   src="{{ document.filename.url }}"
                   alt="{{ document.description }}">
            {% endfor %}
          </div>
        {% endif %}
      </dl>
    </div>
  </section>
  <div class="h-24 w-full">
    <!-- top margin -->
  </div>
  <div id="confirmationModal"
       class="hidden h-screen w-screen m-10 fixed inset-0 flex items-center justify-center z-50 drop-shadow-lg">
    <div class="bg-white p-8 rounded-lg px-4 py-3 ">
      <p class="mb-2">{% translate "confirm_operation" %}</p>
      <div class="flex justify-end space-x-4">
        <button id="confirmYes"
                class="bg-pantone307c text-white px-2 rounded ml-1 border-2 border-white drop-shadow-lg">
          {% translate "yes" %}
        </button>
        <button id="confirmNo"
                class="bg-red-500 text-white px-2 rounded ml-1 border-2 border-white drop-shadow-lg">
          {% translate "no" %}
        </button>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // First section
    const pauseButton = document.getElementById("pause-button");
    const deleteButton = document.getElementById("delete-button");
    const agreementButton = document.getElementById("accept-button");
    const confirmYes = document.getElementById("confirmYes");
    const confirmNo = document.getElementById("confirmNo");
    const confirmationModal = document.getElementById("confirmationModal");
    let formToSubmit;

    const showModal = (form) => {
      formToSubmit = form;
      confirmationModal.classList.remove("hidden");
    };

    if(pauseButton) {
      pauseButton.addEventListener("click", function(event) {
        event.preventDefault();
        showModal(this.closest("form"));
      });
    }

    if(deleteButton) {
      deleteButton.addEventListener("click", function(event) {
        event.preventDefault();
        showModal(this.closest("form"));
      });
    }

    if(agreementButton) {
      agreementButton.addEventListener("click", function(event) {
        event.preventDefault();
        showModal(this.closest("form"));
      });
    } 

    confirmYes.addEventListener("click", function() {
      formToSubmit.submit();
      confirmationModal.classList.add("hidden");
    });

    confirmNo.addEventListener("click", function() {
      confirmationModal.classList.add("hidden");
    });

    // Second section
    const copyButton = document.getElementById("copy-button");
    const img = document.getElementById("qr-image");

    if(copyButton) {
      copyButton.addEventListener("click", function() {
        const canvas = document.createElement("canvas");
        const ctx = canvas.getContext("2d");

        // Load image into canvas
        const imgElement = new Image();
        imgElement.src = img.src;
        imgElement.onload = function () {
          canvas.width = imgElement.width;
          canvas.height = imgElement.height;
          ctx.drawImage(imgElement, 0, 0);

          // Convert canvas to data URL and copy it
          canvas.toBlob(function(blob) {
            const item = new ClipboardItem({
              "image/png": blob
            });
            navigator.clipboard.write([item]).then(function() {
              console.log("Copied to clipboard");
            }).catch(function(error) {
              console.error("Unable to copy", error);
            });
          });
        };
      });
    }

    // Third section
    const imageContainer = document.getElementById('image-container');
    const images = imageContainer.querySelectorAll('.toggle-size');

    images.forEach(image => {
      image.addEventListener('click', function() {
        if (this.classList.contains('w-32')) {
          this.classList.remove('w-32', 'h-32');
          this.classList.add('w-96', 'h-96');
        } else {
          this.classList.remove('w-96', 'h-96');
          this.classList.add('w-32', 'h-32');
        }
      });
    });
  });
</script>

{% endblock scripts %}
