{% extends "base/base.html" %}
{% load static i18n socialaccount custom_components %}
{% block title %}{% translate "vehicle_page_title" %}{% endblock %}

{% block navbar %}{% include "base/navbar_components.html" with icon="truck" %}{% endblock %}

{% block content %}
{% translate "vehicle_title" as translated_title %}
{% module_title_component translated_title %}

<section id="Vehicles" class="mx-6 md:mx-10">
    <!-- Header -->
    <article class="flex flex-col pt-4 pb-2 mt-24">
        <p class="text-pantone7689c">{% translate "tractors_and_trailers_subtitle" %}</p>
    </article>

    <!-- Tractors -->
    <article class="flex flex-col pt-4 pb-2">
        <h3 class="font-semibold text-white font-Roboto text-sm  bg-pantone7689c rounded-full px-4">
            {% translate "Tractors" %}
        </h3>

        <div class="tw-loop-container">
            {% for tractor in tractors %}
            <div class="tw-loop-element">
                <form method="post" class="tw-loop-form">
                    <input type="hidden" name="form_type" value="update_tractor">

                    {% csrf_token %}
                    {% input_field_component name="domain" value=tractor.domain %}

                    <div class="flex flex-col justify-end pt-2">
                        <input type="hidden" name="tractor_id" value="{{ tractor.id }}">
                        {% rbutton_component caption="update" %}
                    </div>
                </form>
            </div>
            {% endfor %}

            <div class="tw-loop-element">
                <form method="post" class="tw-loop-form">
                    <input type="hidden" name="form_type" value="create_tractor">

                    {% csrf_token %}
                    {% input_field_component name="domain" %}

                    <div class="flex flex-col justify-end pt-2">
                        {% rbutton_component caption="add_tractor" bg="bg-pantone7472c" %}
                    </div>
                </form>
            </div>
        </div>
    </article>

    <!-- Trailers -->
    <article class="flex flex-col pt-4 pb-2">
        <h3 class="font-semibold text-white font-Roboto text-sm  bg-pantone7689c rounded-full px-4">
            {% translate "Trailers" %}
        </h3>

        <div class="tw-loop-container">
            {% for trailer in trailers %}
            <div class="tw-loop-element">
                <form method="post" class="tw-loop-form">
                    <input type="hidden" name="form_type" value="update_trailer">

                    {% csrf_token %}
                    {% input_field_component name="domain" value=trailer.domain %}

                    <div class="flex flex-col justify-end pt-2">
                        <input type="hidden" name="trailer_id" value="{{ trailer.id }}">
                        {% rbutton_component caption="update" %}
                    </div>
                </form>
            </div>
            {% endfor %}
            <div class="tw-loop-element">
                <form method="post" class="tw-loop-form">
                    <!-- ADD FORM -->
                    <input type="hidden" name="form_type" value="create_trailer">

                    {% csrf_token %}
                    {% input_field_component name="domain" %}

                    <div class="flex flex-col justify-end pt-2">
                        {% rbutton_component caption="add_trailer" bg="bg-pantone7472c" %}
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

{% endblock %}