{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% tailwind_css %}
    {% include "base/cdn.html" %}
    {% block styles %}{% endblock %}
</head>

<body class="flex flex-col bg-gradient-to-b from-pantone7472c to-transparent min-h-screen">

    <main role="main" class="flex flex-col flex-grow">
        <div></div>
        {% block content %}
        <!-- CONTENT -->
        {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>
