{% load static custom_components %}
<nav class="fixed z-40 bg-[#323232]  rounded-full bottom-4 left-1/2 -translate-x-1/2 drop-shadow-lg">
    <div class="grid grid-cols-4 m-1 min-w-max">
        {% nav_buttom_component icon="fuel2" tooltip="Órdenes de Carga" url="#" left=True %}
        {% nav_buttom_component icon="cash2" tooltip="Órdenes Extra-Cash" url="#" %}
        {% nav_buttom_component icon="qr2" tooltip="Escanear Código" url="staff_qr" %}
        {% nav_buttom_component icon="logout" tooltip="Cerrar sesión" url="logout" right=True %}
    </div>
</nav>
