{% extends "staff/base/base.html" %}
{% load static custom_components compress humanize %}
{% block title %}
  KM1151 - Staff Area
{% endblock title %}
{% block content %}
  <section class="min-h-screen min-w-screen flex flex-col items-center justify-center">
    {% if user.is_authenticated and user|is_pump_operator %}
      {% for order in object_list %}
        <div class="flex rounded-full p-1 h-10 m-1 {% if order.is_finished %} bg-pantone7472c {% elif order.is_paused %} bg-gray-400 {% elif order.is_locked %} bg-pantone307c {% else %} bg-pantone7689c {% endif %} my-1">
          <!--code-->
          <div class="w-20 flex-shrink py-1 text-sm flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center rounded-l-full">
            <div class="font-rubik tracking-wider leading-none font-bold uppercase text-center w-full">
              {{ order.operation_code }}
              {% if order.is_locked and not order.is_finished %}<span class="text-sm -mx-1">🔒</span>{% endif %}
              {% if order.comments and not order.is_locked %}<span class="text-sm -mx-1">✍️</span>{% endif %}
            </div>
          </div>
          <div class="w-48 py-1 text-sm flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center">
            <div class="font-rubik">{{ order.driver }}</div>
          </div>
          <div class="w-20 py-1 text-sm flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center">
            <div class="font-rubik">${{ order.cash_amount|intcomma }}</div>
          </div>
          <div class="w-9 rounded-r-full flex pl-0.5">
            <div class="w-7 rounded-r-full flex pl-0.5">
              <form action="/staff/extracash/{{ order.operation_code }}/"
                    method="post"
                    class="order-form">
                {% csrf_token %}
                <input type="hidden"
                       name="operation_code"
                       value="{{ order.operation_code }}">
                <button type="submit"
                        class="rounded-full focus:outline-none transition-colors duration-300">
                  <img class="w-full h-full rounded-b-full"
                       src="{% static 'svg/cash.svg' %}"
                       alt="Menu" />
                </button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% if user.is_authenticated %}
        <div class="fixed bottom-20 left-3 text-red-500 font-bold">Staff User no in "Pump Operators" Group</div>
      {% endif %}
      {% include "staff/base/login_form.html" %}
    {% endif %}
  </section>
  <div id="confirmationModal"
       class="fixed inset-0 flex items-center justify-center hidden">
    <div class="bg-white p-5 rounded shadow-lg border-2 border-pantone307c w-48">
      <h2 class="text-lg mb-4">Confirmación</h2>
      <p class="text-xs text-justify">Ingrese el código para confirmar la operación</p>
      <input type="text"
             id="modalInput"
             class="border w-full px-2 py-1 rounded-full text-center">
      <div class="flex flex-col justify-end p-2 space-y-1 mt-2">
        <button id="confirmBtn"
                class="px-2 py-1 rounded-full w-full bg-blue-500 hover:bg-blue-600 text-white rounded">Confirmar</button>
        <button id="cancelBtn"
                class="px-2 py-1 rounded-full w-full bg-gray-300 hover:bg-gray-400 rounded">Cancelar</button>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
document.addEventListener("DOMContentLoaded", function() {
    const forms = document.querySelectorAll(".order-form");
    const modal = document.getElementById("confirmationModal");
    const modalInput = document.getElementById("modalInput");
    const cancelBtn = document.getElementById("cancelBtn");
    const confirmBtn = document.getElementById("confirmBtn");

    let currentForm = null;

    forms.forEach(form => {
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            currentForm = form;
            modalInput.value = ""; // Clear any previous input
            modal.classList.remove('hidden'); // Show the modal
        });
    });

    cancelBtn.addEventListener("click", function() {
        modal.classList.add('hidden');
    });

    confirmBtn.addEventListener("click", function() {
        const confirmationCode = modalInput.value.toLowerCase();
        const formOperationCode = currentForm.querySelector('[name="operation_code"]').value.toLowerCase();

        if (confirmationCode !== formOperationCode) {
            alert('Operation code does not match. Please try again.');
            modal.classList.add('hidden');
            return;
        }

        // The following fetch is same as before
        fetch(currentForm.action, {
            method: 'POST',
            body: new FormData(currentForm)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status !== 'success') {
                alert(data.message);
            }
            location.reload();
        })
        .catch(error => {
            console.error('There was an error:', error);
            alert('There was an error updating the order. Please try again.');
        });
    });
});
  </script>
{% endblock scripts %}
