{% extends "staff/base/base.html" %}
{% load static custom_components compress %}
{% block title %}KM1151 - Staff Area{% endblock %}
{% block content %}
  <section class="h-full w-full max-w-full flex justify-center">
    {% if user.is_authenticated and user|is_pump_operator %}
      <div class="flex flex-col">
        {% for order in orders %}
          <div class="flex rounded-full p-1 h-10 m-1
                      {% if order.is_finished %}
                        bg-pantone7472c
                      {% elif order.is_paused %}
                        bg-gray-400
                      {% elif order.is_locked %}
                        bg-pantone307c
                      {% else %}
                        bg-pantone7689c
                      {% endif %}
                      my-1">
            <!--code-->
            <div class="w-20 p-1 text-sm flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %}
                        bg-white items-center justify-center rounded-l-full">
              <div class="font-rubik tracking-wider leading-none font-bold uppercase text-center w-full">
                {{ order.operation_code }}
              </div>
            </div>
            <!--company-->
            <div class="w-36 sm:w-52 p-1 flex flex-col border-r border-pantone7472c bg-white items-center justify-center whitespace-nowrap overflow-hidden">
              <div class="font-rubik leading-tight font-bold text-xs w-full">{{ order.company }}</div>
              <div class="font-rubik leading-none text-xxs italic font-light w-full">{{ order.driver }}</div>
            </div>
            <!--plates-->
            <div class="w-20 p-1 flex flex-col border-r border-pantone7472c bg-white items-center justify-center whitespace-nowrap overflow-hidden">
              <div class="font-mono text-xxs leading-1 text-center w-full">
                <span class="rounded-sm px-1 text-white bg-gray-600">{{ order.tractor_plate }}
              </div>
              {% if order.trailer_plate %}
              <div class="font-mono text-xxs leading-1 text-center w-full">
                <span class="rounded-sm px-1 text-white bg-gray-600">{{ order.trailer_plate }}</span>
              </div>
              {% endif %}
            </div>

            <!-- tail button -->
            <div class="w-8 rounded-r-full flex pl-0.5">
              <button onclick="toggleColumns('{{ order.operation_code }}')"
                        class="rounded-full focus:outline-none transition-colors duration-300">
                <img class="w-full h-full"
                       src="{% static 'svg/sandwich.svg' %}"
                       alt="Menu" />
                </button>
              </div>
            </div>
            <!--Toggle-->
            <div id="extra-{{ order.operation_code }}"
                 class="hidden flex flex-col m-auto -mt-1 p-1 rounded-b-2xl
                        {% if order.is_finished %}
                          bg-pantone7472c
                        {% elif order.is_paused %}
                          bg-gray-400
                        {% elif order.is_locked %}
                          bg-pantone307c
                        {% else %}
                          bg-pantone7689c
                        {% endif %}">
              <!-- date and info-->
              <div class="text-xs leading-1 m-auto bg-white bg-opacity-50 w-full text-center font-rubik font-light border-b {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %}">
                {{ order.order_date }} {% if order.is_locked %}🔒{% endif %}
              </div>
              <!-- odo & km -->
              <div class="flex">
                <div class="w-6 rounded-bl-xl p-1 flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center whitespace-nowrap overflow-hidden">
                  <div class="font-mono text-xxs leading-tight
                              {% if order.requires_kilometers %}
                                text-black font-bold
                              {% else %}
                                text-gray-400
                              {% endif %}">KM</div>
                  <div class="font-mono text-xxs leading-tight
                              {% if order.requires_odometer %}
                                text-black font-bold
                              {% else %}
                                text-gray-400
                              {% endif %}">OD</div>
                </div>
                <div class="w-20 p-1 flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center whitespace-nowrap overflow-hidden">
                  <div class="font-rubik leading-tight font-bold text-xs">
                    {% if order.refuelings and order.refuelings.tractor_pic %}
                      <a href="{{ order.refuelings.tractor_pic.url }}"
                         target="_blank"
                         title="Tractor">📎
                      {% endif %}
                    Tractor</a>
                  </div>
                  <div class="font-mono leading-tight text-xs">
                    {% if order.tractor_liters %}{{ order.tractor_liters }}/{% endif %}{{ order.formated_tractor_liters_to_load_of }}
                  </div>
                </div>
                <div class="w-20 p-1 flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center whitespace-nowrap overflow-hidden">
                  <div class="font-rubik leading-tight font-bold text-xs">
                    {% if order.refuelings and order.refuelings.backpack_pic %}
                      <a href="{{ order.refuelings.backpack_pic.url }}"
                         target="_blank"
                         title="Mochila">📎
                      {% endif %}
                    Mochila</a>
                  </div>
                  <div class="font-mono leading-tight text-xs">
                    {% if order.backpack_liters %}{{ order.backpack_liters }}/{% endif %}{{ order.formated_backpack_liters_to_load_of }}
                  </div>
                </div>
                <div class="w-20 rounded-br-xl p-1 flex flex-col border-r {% if order.is_finished %}border-pantone7472c{% elif order.is_paused %}border-gray-400{% elif order.is_locked %}border-pantone307c{% else %}border-pantone7689c{% endif %} bg-white items-center justify-center whitespace-nowrap overflow-hidden">
                  <div class="font-rubik leading-tight font-bold text-xs">
                    {% if order.refuelings and order.refuelings.chamber_pic %}
                      <a href="{{ order.refuelings.chamber_pic.url }}"
                         target="_blank"
                         title="Cámara">📎
                      {% endif %}
                    Cámara</a>
                  </div>
                  <div class="font-mono leading-tight text-xs">
                    {% if order.chamber_liters %}{{ order.chamber_liters }}/{% endif %}{{ order.formated_chamber_liters_to_load_of }}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="h-24">
            <!--margin-->
          </div>
        </div>
        <!-- user not authenticated -->
      {% else %}
        {% if user.is_authenticated %}
          <div class="fixed bottom-20 left-3 text-red-500 font-bold">Staff User no in "Pump Operators" Group</div>
        {% endif %}
        {% include "staff/base/login_form.html" %}
      {% endif %}
    </section>
  {% endblock %}
  {% block scripts %}
    <script>
        function toggleColumns(operationCode) {
            const id = 'extra-' + operationCode;
            const element = document.getElementById(id);
            element.classList.toggle('hidden');

            const showIcon = document.querySelector('.show-icon-' + operationCode);
            const hideIcon = document.querySelector('.hide-icon-' + operationCode);
        }
    </script>
  {% endblock %}
