{% extends "staff/base/base.html" %}
{% load static custom_components compress %}
{% block title %}KM1151 - Staff Area{% endblock %}
{% block content %}
  <section class="mx-6 md:mx-10">
    {% if messages %}
      <div class="flex w-full justify-center">
        {% for message in messages %}
          <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 max-w-fit py-3 rounded relative"
               role="alert">
            <ul>
              <li>{{ message }}</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="bg-sky-200 rounded-md p-2 my-4 w-full">{{ fuel_order }}</div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="tw-bigform !bg-pantone7472c">
        <div class="flex flex-col w-96">
          <!--fields-->
          {% if fuel_order.tractor_liters_to_load %}
          <div class="grid grid-cols-3 font-rubik text-white items-center py-1">
              <span class="text-black">Tractor</span>
              <input type="number"
                     class="w-32 text-black text-right rounded-md h-8"
                     placeholder="{{ fuel_order.formated_tractor_liters_to_load_of }} lts."
                     name="{{ form.tractor_liters.name }}"
                     id="{{ form.tractor_liters.id_for_label }}" />
              <div>
                  <div class="w-fit px-4 rounded-full ml-4 border-white border-2 whitespace-nowrap"
                       style="background:{{ fuel_order.tractor_fuel_type_color }}">
                      {{ fuel_order.short_tractor_fuel_type }}
                  </div>
              </div>
          </div>
      {% endif %}
      
      {% if fuel_order.chamber_liters_to_load %}
          <div class="grid grid-cols-3 font-rubik text-white items-center py-1">
              <span class="text-black">Cámara</span>
              <input type="number"
                     class="w-32 text-black text-right rounded-md h-8"
                     placeholder="{{ fuel_order.formated_chamber_liters_to_load_of }} lts."
                     name="{{ form.chamber_liters.name }}"
                     id="{{ form.chamber_liters.id_for_label }}" />
              <div>
                  <div class="w-fit px-4 rounded-full ml-4 border-white border-2 whitespace-nowrap"
                       style="background:{{ fuel_order.chamber_fuel_type_color }}">
                      {{ fuel_order.short_chamber_fuel_type }}
                  </div>
              </div>
          </div>
      {% endif %}
      
      {% if fuel_order.backpack_liters_to_load %}
          <div class="grid grid-cols-3 font-rubik text-white items-center py-1">
              <span class="text-black">Mochila</span>
              <input type="number"
                     class="w-32 text-black text-right rounded-md h-8"
                     placeholder="{{ fuel_order.formated_backpack_liters_to_load_of }} lts."
                     name="{{ form.backpack_liters.name }}"
                     id="{{ form.backpack_liters.id_for_label }}" />
              <div>
                  <div class="w-fit px-4 rounded-full ml-4 border-white border-2 whitespace-nowrap"
                       style="background:{{ fuel_order.backpack_fuel_type_color }}">
                      {{ fuel_order.short_backpack_fuel_type }}
                  </div>
              </div>
          </div>
      {% endif %}
      
          <!--endfields-->
        </div>
        <menu class="w-full pt-12 pb-4 flex justify-center drop-shadow-lg">
          <div class="col-span2 bg-pantone7472c p-0.5 rounded-l-full w-fit h-fit">
            <div class="border-2 border-sky-200 p-0.5 rounded-l-full flex justify-center items-center">
              <button class="flex whitespace-nowrap w-fit px-4 py-2 rounded-full bg-pantone7472c text-white font-rubik font-bold lowercase text-center"
                      type="submit">Reportar Carga</button>
            </div>
          </div>
          <div class="col-span2 bg-pantone7472c p-0.5 rounded-r-full w-fit h-fit">
            <div class="border-2 border-sky-200 p-0.5 rounded-r-full flex justify-center items-center">
              <a href="{% url 'staff_qr' %}"
                 class="flex whitespace-nowrap w-fit px-4 py-2 rounded-full bg-pantone7472c text-white font-rubik font-bold lowercase text-center">Volver</a>
            </div>
          </div>
        </menu>
      </div>
    </form>
  </section>
  {% include "staff/base/navbar.html" %}
{% endblock %}
