{% extends "staff/base/base.html" %}
{% load static components compress %}
{% block title %}KM1151 - Staff Area{% endblock %}
{% block content %}
  <section class="mx-6 md:mx-10">
    {% if messages %}
      <div class="flex w-full justify-center">
        {% for message in messages %}
          <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 max-w-fit py-3 rounded relative"
               role="alert">
            <ul>
              <li>{{ message }}</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="flex w-full justify-center">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 max-w-fit py-3 rounded relative"
             role="alert">
          <ul>
            {% for field, errors in form.errors.items %}
              {% for error in errors %}<li>{{ field }} {{ error }}</li>{% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="">
      {% csrf_token %}
      <div class="tw-bigform !bg-pantone7472c">
        <div class="flex justify-center w-full my-4">
          <div class="font-quicksand text-2xl">
            Orden: <span class="font-bold">{{ fuel_order }}</span>
          </div>
        </div>
        <!--fields-->
        <div class="flex flex-col w-72">
          {% if fuel_order.tractor_liters_to_load %}
            <div class="grid grid-cols-4 font-rubik text-white py-2">
              {% liters_field_component id=form.tractor_liters.id_for_label ph=fuel_order.formated_tractor_liters_to_load_of field_name=form.tractor_liters.name name="Tractor" %}
              {% camera_icon_component name=form.tractor_pic.name label_id=form.tractor_pic.id_for_label %}
              {% fuel_type_component color=fuel_order.backpack_fuel_type_color short=fuel_order.short_tractor_fuel_type %}
            </div>
          {% endif %}
          {% if fuel_order.backpack_liters_to_load %}
            <div class="grid grid-cols-4 font-rubik text-white py-2">
              {% liters_field_component id=form.backpack_liters.id_for_label ph=fuel_order.formated_backpack_liters_to_load_of field_name=form.backpack_liters.name name="Mochila" %}
              {% camera_icon_component name=form.backpack_pic.name label_id=form.backpack_pic.id_for_label %}
              {% fuel_type_component color=fuel_order.backpack_fuel_type_color short=fuel_order.short_backpack_fuel_type %}
            </div>
          {% endif %}
          {% if fuel_order.chamber_liters_to_load %}
            <div class="grid grid-cols-4 font-rubik text-white py-2">
              {% liters_field_component id=form.chamber_liters.id_for_label ph=fuel_order.formated_chamber_liters_to_load_of field_name=form.chamber_liters.name name="Cámara" %}
              {% camera_icon_component name=form.chamber_pic.name label_id=form.chamber_pic.id_for_label %}
              {% fuel_type_component color=fuel_order.backpack_fuel_type_color short=fuel_order.short_chamber_fuel_type %}
            </div>
          {% endif %}
          <!-- Observations -->
          {% if fuel_order.comments %}
          <div class="flex italic text-green-950 border p-1 rounded-lg my-3">
            <div class="w-[300px] overflow-y-auto overflow-x-hidden break-words">
              <b>Cliente: "</b><span class="text-black text-sm">{{ fuel_order.comments }}</span><b>"</b>
            </div>
          </div>{% endif %}
          <div class="grid grid-cols-4 font-rubik text-white py-2">
            <span class="text-black mr-2 w-full">Notas:</span>
            <div class="flex w-full col-span-3">
              <textarea class="w-full text-black text-left rounded-md h-32 appearance-none"
                        name="{{ form.observation.name }}"
                        id="{{ form.observation.id_for_label }}"
                        rows="4"></textarea>
            </div>
          </div>
          
          <div class="flex font-rubik  py-2 justify-between items-center">
            <div>Observaciones{% camera_icon_component name=form.observation_pic.name label_id="Observaciones" %}</div>
            <div>Nota Despacho{% camera_icon_component name=form.dispatch_note_pic.name label_id="Nota de Despacho" %}</div>
          </div>
        </div>
        <!--endfields-->
      </div>
    </div>
    <menu class="w-full pb-4 flex justify-center drop-shadow-lg">
      <div class="col-span2 bg-pantone7472c p-0.5 rounded-l-full w-fit h-fit">
        <div class="border-2 border-sky-200 p-0.5 rounded-l-full flex justify-center items-center">
          <button class="flex whitespace-nowrap w-fit px-4 py-2 rounded-full bg-pantone7472c text-white font-rubik font-bold lowercase text-center"
                  type="submit">Reportar Carga</button>
        </div>
      </div>
      <div class="col-span2 bg-pantone7472c p-0.5 rounded-r-full w-fit h-fit">
        <div class="border-2 border-sky-200 p-0.5 rounded-r-full flex justify-center items-center">
          <a href="{% url 'staff_qr' %}"
             class="flex whitespace-nowrap w-fit px-4 py-2 rounded-full bg-pantone7472c text-white font-rubik font-bold lowercase text-center">Volver</a>
        </div>
      </div>
    </menu>
  </div>
</form>
<div class="h-28"/>
</section>
{% endblock %}
