{% load i18n %}
{% translate 't_about' as translated_about %}
{% translate 't_contact' as translated_contact %}

<div class="
            flex
            h-full
            w-full
            px-4
            items-center 
            justify-between
            rounded-t-lg
            bg-gray-100
            text-sky-950
            dark:bg-[#1E2023]
            dark:text-sky-100
            ">

    <div class="text-xs flex space-x-2 content-between">
        <div>&copy; 2023 AVS Group</div>
        {% if company %}
        <div>{% translate 'time' %}:</div>
        <div id="clock"></div>
        {% endif %}
    </div>
    <ul class="flex justify-end space-x-2 text-xs">
        {% if company %}
        <span class="place-self-center">{{ company}}</span>
        {% else %}
        <li><a href="{% url 'about-us' %}" class="hover:cursor-pointer">{{ translated_about|upper }}</a></li>
        <li><a href="{% url 'contact-us' %}" class="hover:cursor-pointer">{{ translated_contact|upper }}</a></li>
        {% endif %}
    </ul>
</div>

{% block scripts %}
<script>

    function updateClock(serverTimeDifference) {
        const clockElement = document.getElementById('clock');

        const clientTime = new Date();
        const adjustedTime = new Date(clientTime.getTime() + serverTimeDifference);

        const hours = adjustedTime.getHours().toString().padStart(2, '0');
        const minutes = adjustedTime.getMinutes().toString().padStart(2, '0');
        const seconds = adjustedTime.getSeconds().toString().padStart(2, '0');
        const clockText = `${hours}:${minutes}:${seconds}`;
        clockElement.textContent = clockText;
    }

    function startClock(serverTimeDifference) {
        setInterval(() => {
            updateClock(serverTimeDifference);
        }, 1000);
    }

    fetch('/get-server-time')
        .then(response => response.json())
        .then(data => {
            const serverTime = new Date(data.server_time);
            const clientTime = new Date();
            const serverTimeDifference = serverTime.getTime() - clientTime.getTime();
            startClock(serverTimeDifference);
        })
        .catch(error => {
            console.error('Error:', error);
        });

</script>
{% endblock %}