{% load i18n %}
{% translate 't_about' as translated_about %}
{% translate 't_contact' as translated_contact %}

<div class="
            fixed 
            h-9 max-h-9
            px-4
            flex
            items-center 
            justify-between
            bottom-0 left-0 right-0
            rounded-t-lg
            bg-gray-100
            text-sky-950
            dark:bg-[#1E2023]
            dark:text-sky-100
            ">

    <span class="text-tiny">&copy; 2023 ALVS Group</span>
    <ul class="flex space-x-4 justify-end text-sm">
        <li><a href="#" class="hover:cursor-pointer">{{ translated_about|upper }}</a></li>
        <li><a href="#" class="hover:cursor-pointer">{{ translated_contact|upper }}</a></li>
    </ul>
</div>