{% load static socialaccount i18n custom_components %}
{% get_current_language as LANGUAGE_CODE %}

<nav>
<!-- left buttons -->
  {% menu_button_component position="2" side="left" url="company" icon="gears" %}
  {% menu_button_component position="3" side="left" url="vehicles" icon="truck" %}
  {% menu_button_component position="4" side="left" url="orders" icon="fuel" %}
  {% menu_button_component position="5" side="left" url="cashtransfer" icon="cash" %}

<!-- right buttons -->
{% flag_button_component position="1" side="right" language_code=LANGUAGE_CODE %}
{% flag_button_component position="2" side="right" language_code=LANGUAGE_CODE %}
{% menu_button_component position="3" side="right" url="tickets" icon="ticket" %}
{% menu_button_component position="4" side="right" url="logout" icon="logout" %}
</nav>