{% load static socialaccount i18n %}

<nav class="
            -z-10
            flex
            w-full
            h-28
            justify-between
            bg-gradient-to-b from-sky-200 to-transparent
            ">

  <!-- Logo Circle -->
  <div class="
              flex
              h-20 min-h-fit
              w-28 min-w-28
              mt-4
              bg-sky-900 
              rounded-r-full 
              ">
    <a class="flex ml-auto" href="#">
      <img class="rounded-full m-1" src="{% static 'images/logo_km1151.png' %}" alt="Site Logo">
    </a>
  </div>
  <!-- Title -->
  <div class="
              flex
              mt-4
              h-20 
              items-center
              text-center
              drop-shadow
              ">
    <span class="
                 font-quicksand
                 font-bold
                 text-white
                 sm:text-6xl
                 text-4xl
                 traslate-y-2
                 drop-shadow-md
                 sm:whitespace-nowrap
                 ">
      {% translate 't_page_title' %}</span>
  </div>
  <!-- Avatar Circle -->
  <div class="
              flex
              mt-4
              h-20
              w-28 min-w-28 
              {# bg-sky-900  #}
              bg-sky-900
              rounded-l-full 
              ">
    <a class="flex mr-auto p-1" href="#">
      {% if user.is_authenticated %}
      {% with provider_id=user.socialaccount_set.all.0.get_provider.id %}
      {% if provider_id == 'google' %}
      <img class="rounded-full border-4 border-white" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
      {% endif %}
      {% endwith %}
      {% else %}
      <svg class="rounded-full text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="12" stroke-width="1" fill="white"></circle>
        <path d="M5 8H18" stroke-width="1.25" stroke-linecap="round" stroke="#09406e"></path>
        <path d="M5 12H18" stroke-width="1.25" stroke-linecap="round" stroke="#09406e"></path>
        <path d="M5 16H18" stroke-width="1.25" stroke-linecap="round" stroke="#09406e"></path>
      </svg>
      {% endif %}
    </a>

  </div>

  <!-- Collapsable Links -->
</nav>