{% load static socialaccount i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<nav class="
            -z-10
            flex
            w-full
            h-28
            justify-between
            bg-gradient-to-b from-sky-200 to-transparent
            ">

  <!-- Logo Circle -->
  <div class="
              flex
              h-20 min-h-fit
              w-28 min-w-28
              mt-4
              bg-sky-900 
              rounded-r-full 
              ">
    <a class="flex ml-auto" href="#">
      <img class="rounded-full m-1" src="{% static 'images/logo_km1151.png' %}" alt="Site Logo">
    </a>
  </div>
  <!-- Title -->
  <div class="
              flex
              mt-4
              h-20 
              items-center
              text-center
              drop-shadow
              ">
    <span class="
                 font-quicksand
                 font-bold
                 text-white
                 sm:text-6xl
                 text-4xl
                 traslate-y-2
                 drop-shadow-md
                 sm:whitespace-nowrap
                 ">
      {% translate 't_page_title' %}</span>
  </div>
  <!-- Avatar Circle -->
  <div class="
              flex
              mt-4
              h-20
              w-28 min-w-28 
              bg-sky-900
              rounded-l-full 
              ">
    <div class="flex mr-auto p-1 drop-shadow-sm">
      {% if user.is_authenticated %}
      {% with provider_id=user.socialaccount_set.all.0.get_provider.id %}
      {% if provider_id == 'google' %}
      <img class="rounded-full border-4 border-white" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
      {% endif %}
      {% endwith %}
      {% else %}
      <!-- if lang, next lang -->
      <form id="language-form-{{ language.code }}" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        {% if LANGUAGE_CODE == 'es' %}
        <input name="language" type="hidden" value="pt">
        {% elif LANGUAGE_CODE == 'pt' %}
        <input name="language" type="hidden" value="en">
        {% else %}
        <input name="language" type="hidden" value="es">
        {% endif %}
        <button class="h-full w-full" type="submit" form="language-form-{{ language.code }}">
        <img class="rounded-full border-4 border-white h-full aspect-square object-cover" src="{% static 'images/languages/'|add:LANGUAGE_CODE|add:'.svg' %}" />
        </button>
      </form>
      {% endif %}
    </div>

    <!-- Collapsable Links -->
</nav>


<!-- ciclo por los language.code y cuando encuentre el código: si es el 'ultimo' poner el primero, si no, index+1 -->


{% block scripts %}
{% endblock %}