{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "page_title" %}{% endblock %}

{% block content %}

<div class="video-background">
  <div class="video-placeholder">
    <img src="{% static 'videos_background/video_placeholder.png' %}" alt="Video Placeholder">
  </div>
  <video id="video" class="video-source" autoplay loop muted playsinline>
    <source src="{% static 'videos_background/video_background.mp4' %}" type="video/mp4">
  </video>
</div>

{% endblock %}

{% block scripts %}

<script>
  // Wait for the page to load
  document.addEventListener('DOMContentLoaded', function(){
    var video = document.getElementById('video');

    video.addEventListener('canplaythrough', function(){
      var videoPlaceholder = document.querySelector('.video-placeholder');
      videoPlaceholder.style.display = 'none';
      console.log("Playing video... Sorry dude, but art mater... :)")
    });
  });
</script>

{% endblock %}