{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        {% block navbar %}
        <!-- NAVBAR -->
        {% include 'base/navbar.html' %}
        {% endblock %}
    </header>
    <main role="main" class="container">
        {% block content %}
        <!-- CONTENT -->
        {% endblock %}
    </main>
    {% block scripts %}
    <!-- CUSTOM SCRIPTS -->
    {% endblock %}
</body>

</html>