{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- DEBUG -->


    {% include "base/element/cdn.html" %}

    {% block styles %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen bg-gradient-to-b from-sky-200 to-transparent justify-center items-center">
    <header class="fixed top-0 w-full z-50">
        <!-- NAVBAR -->
        {% include 'base/element/navbar.html' %}
    </header>
    
    <main role="main" class="flex flex-col justify-center items-center overflow-auto flex-grow ">
        {% block content %}
        <!-- CONTENT -->
        {% endblock %}
    </main>

    <footer class="h-7 w-full fixed bottom-0">
        <!-- FOOTBAR -->
        {% include 'base/element/footer.html' %}
    </footer>

    {% block scripts %}{% endblock %}
</body>


</html>