{% load i18n %}
{% translate 't_about' as translated_about %}
{% translate 't_contact' as translated_contact %}

<div class="
            flex
            h-full
            w-full
            px-4
            items-center 
            justify-between
            rounded-t-lg
            bg-gray-100
            text-sky-950
            dark:bg-[#1E2023]
            dark:text-sky-100
            ">
    <span class="text-xs">&copy; 2023 AVS Group</span>
    <ul class="flex justify-end space-x-2 text-xs">
        {% if company %}
        <span class="place-self-center">{{ company}}</span>
        {% else %}
        <li><a href="{% url 'about-us' %}" class="hover:cursor-pointer">{{ translated_about|upper }}</a></li>
        <li><a href="{% url 'contact-us' %}" class="hover:cursor-pointer">{{ translated_contact|upper }}</a></li>
        {% endif %}
    </ul>
</div>