{% load static socialaccount i18n custom_components %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="fixed top-0">
    
    {% menu_button_component pos="1" size="large" side="left" url="user_home" icon="my-company-logo" %}
    
    {% if user.is_authenticated %}
    <!-- left buttons -->
    {% menu_button_component pos="2" side="left" url="company" icon="building" %}
    {% menu_button_component pos="3" side="left" url="vehicles" icon="truck" %}
    {% menu_button_component pos="4" side="left" url="orders" icon="fuel" %}
    {% menu_button_component pos="5" side="left" url="extracash" icon="cash" %}
    
    <!-- right buttons -->
    {% menu_button_component pos="1" side="right" style="avatar" size="large" %}
    {% menu_button_component pos="2" side="right" style="flag" %}
    {% menu_button_component pos="3" side="right" url="tickets" icon="ticket" %}
    {% menu_button_component pos="4" side="right" url="logout" icon="logout" %}

    {% else %}
    <!-- Not a registered user -->
    {% menu_button_component pos="1" side="right" style="flag" size="large" %}

    {% endif %}
</nav>